.nav-logo img {
  height: 70px;
  width: 70px;
}
.nav-login-cart img {
  height: 80px;
  width: 80px;
}
.nav-logo p {
  color: rgb(236, 12, 49);
  font-size: 38px;
  font-weight: 600;
}
@media (max-width: 650px) {
  .navbar {
    flex-direction: column;
  }
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0 1px 3px -2px black;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-login-cart button {
  width: 80px;
  height: 58px;
  outline: none;
  border: 1px solid gray;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  background-color: purple;
}

.nav-cart-count button {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
  cursor: pointer;
}
